<a href="https://colab.research.google.com/github/abdulsamadkhan/OnlineCourses/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics - IPython Notebook

## Section 0: Variable
Now let's start introducing variables. Variables store a value, that can be looked at or changed at a later time. Let's make a program that uses variables:

In [13]:
#variables demonstrated
print("This program is a demo of variables")
v = 1
print("The value of v is now", v)
v = v + 1
print("v now equals itself plus one, making it worth", v)
v = 51
print("v can store any numerical value, to be used elsewhere.")
print("for example, in a sentence. v is now worth", v)
print("v times 5 equals", v * 5)
print("but v still only remains", v)
print("to make v five times bigger, you would have to type v = v * 5")
v = v * 5
print("there you go, now v equals", v, "and not", v / 5)

This program is a demo of variables
The value of v is now 1
v now equals itself plus one, making it worth 2
v can store any numerical value, to be used elsewhere.
for example, in a sentence. v is now worth 51
v times 5 equals 255
but v still only remains 51
to make v five times bigger, you would have to type v = v * 5
there you go, now v equals 255 and not 51.0


## Section 1: If-Else

### Explanation
The `if` statement is used to execute a block of code if a specified condition is true. The `else` statement can follow an `if` statement to execute a block of code if the condition is false. Optionally, `elif` allows multiple conditions to be checked.

### Examples

In [14]:

# Example 1: Simple If-Else
number = 10
if number > 5:
    print("The number is greater than 5")
else:
    print("The number is not greater than 5")

# Example 2: If-Elif-Else
age = 25
if age < 18:
    print("You are a minor.")
elif age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

The number is greater than 5
You are an adult.

## Section 2: Looping Constructs

### Explanation
Loops allow repeated execution of a block of code. Python provides `for` and `while` loops.

### Examples

In [15]:
# For Loop
for i in range(1, 6):
    print(f"Iteration {i}")

# While Loop
count = 1
while count <= 5:
    print(f"Count is {count}")
    count += 1

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Count is 1
Count is 2
Count is 3
Count is 4
Count is 5

## Section 3: Strings

### Explanation
Strings are sequences of characters. They can be manipulated with various methods.

### Examples

In [16]:
# String Basics
name = "Musavir"
print(f"Hello, {name}!")

# String Methods
text = "Python Programming"
print(text.lower())
print(text.upper())
print(text.replace("Python", "Java"))

Hello, Musavir!
python programming
PYTHON PROGRAMMING
Java Programming

In [17]:
# Slicing
print(text[0:6])  # Output: Python

Python


## Section 4: Lists

### Explanation
Lists are ordered collections of items that are mutable. They are extremely versatile and can store various data types. Lists are commonly used in data manipulation and serve as a foundation for more complex data structures.

### Examples

#### Basic Operations

In [18]:
# Creating a List
fruits = ["apple", "banana", "cherry"]
print(f"Original List: {fruits}")

# Adding Items
fruits.append("date")
print(f"After Append: {fruits}")

# Inserting Items
fruits.insert(1, "blueberry")
print(f"After Insert: {fruits}")

# Removing Items
fruits.remove("banana")
print(f"After Remove: {fruits}")

# Accessing Items
print(f"First Fruit: {fruits[0]}")
print(f"Last Fruit: {fruits[-1]}")

Original List: ['apple', 'banana', 'cherry']
After Append: ['apple', 'banana', 'cherry', 'date']
After Insert: ['apple', 'blueberry', 'banana', 'cherry', 'date']
After Remove: ['apple', 'blueberry', 'cherry', 'date']
First Fruit: apple
Last Fruit: date

In [19]:
#### Advanced Examples
# Iterating through a List
for fruit in fruits:
    print(f"I like {fruit}")

# List Comprehension
squares = [x**2 for x in range(1, 6)]
print(f"Squares: {squares}")

# Filtering a List
numbers = [10, 15, 20, 25, 30]
even_numbers = [num for num in numbers if num % 2 == 0]
print(f"Even Numbers: {even_numbers}")

# Slicing
sub_list = fruits[1:3]
print(f"Sub List: {sub_list}")

# Multi-dimensional List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(f"Matrix: {matrix}")

# Accessing Rows and Elements
print(f"First Row: {matrix[0]}")
print(f"Element (2,3): {matrix[1][2]}")

I like apple
I like blueberry
I like cherry
I like date
Squares: [1, 4, 9, 16, 25]
Even Numbers: [10, 20, 30]
Sub List: ['blueberry', 'cherry']
Matrix: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
First Row: [1, 2, 3]
Element (2,3): 6





#### Connecting Lists to Machine Learning
Lists are often used in data preprocessing and manipulation tasks, which are crucial in machine learning.

##### Example: Storing Features

In [20]:
# Representing Features of a Data Point
# Example: [Height (cm), Weight (kg), Age (years)]
data_point = [170, 65, 25]
print(f"Data Point: {data_point}")

# Dataset with Multiple Data Points
# Each sublist represents a data point: [Height, Weight, Age]
dataset = [
    [170, 65, 25],
    [160, 55, 30],
    [180, 75, 35]
]

# Accessing Data Points
print(f"First Data Point: {dataset[0]}")

# Calculating Average Height
heights = [data[0] for data in dataset]
average_height = sum(heights) / len(heights)
print(f"Average Height: {average_height} cm")

Data Point: [170, 65, 25]
First Data Point: [170, 65, 25]
Average Height: 170.0 cm


##### Example: Simple Normalization

In [21]:
# Normalizing Data
# Formula: (value - min) / (max - min)
weights = [data[1] for data in dataset]
min_weight = min(weights)
max_weight = max(weights)
normalized_weights = [(w - min_weight) / (max_weight - min_weight) for w in weights]
print(f"Normalized Weights: {normalized_weights}")

Normalized Weights: [0.5, 0.0, 1.0]

##### Example: Nested List Comprehension

In [22]:
# Flattening a Multi-dimensional List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = [num for row in matrix for num in row]
print(f"Flattened Matrix: {flattened}")

# Creating a Matrix Using List Comprehension
identity_matrix = [[1 if i == j else 0 for j in range(3)] for i in range(3)]
print(f"Identity Matrix: {identity_matrix}")

Flattened Matrix: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Identity Matrix: [[1, 0, 0], [0, 1, 0], [0, 0, 1]]

### Exercises
1. Write a program to find the largest number in a list.
2. Create a list of the first 10 Fibonacci numbers.
3. Given a list of exam scores, calculate the average score and identify scores above the average.
4. Normalize a list of numbers so that they range between 0 and 1.
5. Create a dataset where each data point represents a house (e.g., [Size (sqft), Bedrooms, Age (years)]). Calculate the average size of the houses.

## Section 5: Tuples

### Explanation
Tuples are ordered collections of items that are immutable.

### Examples

In [23]:
# Tuple Basics
dimensions = (1920, 1080)
print(dimensions)

# Accessing Items
print(dimensions[0])  # Output: 1920

# Unpacking Tuples
width, height = dimensions
print(f"Width: {width}, Height: {height}")

(1920, 1080)
1920
Width: 1920, Height: 1080

In [24]:
# Tuples in Machine Learning

# Example: Representing a Data Point
# Tuples can represent immutable data points.
data_point = (170, 65, 25)  # Height, Weight, Age
print(f"Data Point: {data_point}")

# Example: Dataset with Tuples
# Tuples can be used for read-only datasets.
dataset = (
    (170, 65, 25),
    (160, 55, 30),
    (180, 75, 35)
)

# Accessing Data Points
print(f"First Data Point: {dataset[0]}")

# Example: Using Tuples as Keys in Dictionaries
# Tuples can act as keys since they are immutable.
locations = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles",
    (51.5074, -0.1278): "London"
}
print(locations)

# Accessing Location by Coordinates
print(locations[(40.7128, -74.0060)])

# Example: Combining Tuples with Lists
# Use tuples for fixed data and lists for dynamic.
ml_data = [
    ("Sample1", [1.2, 3.4, 5.6]),
    ("Sample2", [7.8, 9.0, 1.2])
]
print(ml_data)

# Updating Data in the List within Tuple
ml_data[0][1].append(7.8)
print(ml_data)

Data Point: (170, 65, 25)
First Data Point: (170, 65, 25)
{(40.7128, -74.006): 'New York', (34.0522, -118.2437): 'Los Angeles', (51.5074, -0.1278): 'London'}
New York
[('Sample1', [1.2, 3.4, 5.6]), ('Sample2', [7.8, 9.0, 1.2])]
[('Sample1', [1.2, 3.4, 5.6, 7.8]), ('Sample2', [7.8, 9.0, 1.2])]


## Section 6: Dictionaries

### Explanation
Dictionaries store key-value pairs. They are versatile and allow efficient data retrieval. Keys in dictionaries must be unique and immutable, while values can be any data type.

### Examples

In [11]:
#### Basic Operations
# Dictionary Basics
person = {"name": "Musavir", "age": 25, "city": "New York"}
print(person)

# Accessing Values
print(person["name"])

# Adding Key-Value Pairs
person["job"] = "Developer"
print(person)

# Removing Key-Value Pairs
del person["age"]
print(person)

{'name': 'Musavir', 'age': 25, 'city': 'New York'}
Musavir
{'name': 'Musavir', 'age': 25, 'city': 'New York', 'job': 'Developer'}
{'name': 'Musavir', 'city': 'New York', 'job': 'Developer'}

#### Advanced Examples

In [ ]:
# Iterating Through a Dictionary
for key, value in person.items():
    print(f"{key}: {value}")

# Checking Key Existence
if "city" in person:
    print(f"City: {person['city']}")

# Nested Dictionaries
student = {
    "name": "Ali",
    "grades": {"math": 85, "science": 90, "history": 78},
    "attendance": 95
}
print(student)
print(f"Math Grade: {student['grades']['math']}")

In [ ]:
# Using Dictionaries in Machine Learning
# Example: Representing a Data Point with Features
feature_vector = {
    "height": 170,
    "weight": 65,
    "age": 25,
    "gender": "male"
}
print(f"Feature Vector: {feature_vector}")

# Example: Storing a Dataset
# Each dictionary represents a data point.
dataset = [
    {"height": 170, "weight": 65, "age": 25},
    {"height": 160, "weight": 55, "age": 30},
    {"height": 180, "weight": 75, "age": 35}
]

# Accessing Dataset Information
for data in dataset:
    print(f"Height: {data['height']}, Weight: {data['weight']}")

# Example: Calculating Average Age
average_age = sum(data["age"] for data in dataset) / len(dataset)
print(f"Average Age: {average_age}")

# Dictionaries for Encoding Labels
# Example: Label Encoding
label_mapping = {"cat": 0, "dog": 1, "rabbit": 2}
labels = ["cat", "dog", "rabbit", "dog"]
encoded_labels = [label_mapping[label] for label in labels]
print(f"Encoded Labels: {encoded_labels}")

# Dictionaries for Frequency Count
text = "machine learning is fascinating"
word_count = {}
for word in text.split():
    word_count[word] = word_count.get(word, 0) + 1
print(f"Word Count: {word_count}")


### Exercises
1. Write a program to count the occurrences of each character in a string using a dictionary.
2. Create a dictionary to store student names as keys and their grades as values. Calculate the average grade.
3. Given a dictionary representing a dataset of houses (e.g., {"House1": {"size": 1000, "price": 300000}, ...}), calculate the average size and price of the houses.
4. Create a label encoder for a list of fruits and decode it back to the original labels using a dictionary.
5. Given a text, count the occurrences of each unique word using a dictionary.